<style>	
	*{font-family:SimSun,"Times New Roman";line-height:200%;list-style: none;color: #000;font-size:16px}
	.cover_ath{font-size:16px}
	.bf{background:#fff;font-weight:700}
	.mt4{margin-top: 4em;}
	strong{background: #ff0006}
    b{background: #ff0;font-weight: normal;}
	ul li{text-align:left}
	ul.both_info li.info_01{text-align:center}
	ul.content li{text-indent:32px}
	.str_tit{font-weight: bold;text-indent: 0px !important;}
	.str_ath{font-weight:700}
	.center_ath{text-align:center}
	.seal_ath{width:45%;display:inline-block}
	.fl{float: left;}
	.fr{float: right;}
	.ov_ath{overflow: hidden;border-bottom: 1px solid #000;}
	.col{color: #666;font-size: 14px;}
	span{display: block;text-indent: 2em;font-size:16px;line-height: 38px;color: #000;}
	.logo{display: inline-block;width: 250px;}
</style>
<div class="ibox-content">
	<div class="cover_ath">
		<ul class="ov_ath">
			<li class="fl">               
				<img src="$link.contextPath/resources/img/logowiwj.png" class="logo">
			</li>
			<li class="fr">
				<span class="str_ath f14_ath col">合同编号：$!vo.brokContractNum</span>
				<span class="str_ath f14_ath col">校验编号：</span>
			</li>
		</ul>
	</div>
	<h1 class="center_ath">房地产经纪服务告知和提示</h1>
	<ul class="content">
		<li class="str_ath">说明： 本告知书由北京我爱我家房地产经纪有限公司依据《房地产经纪管理办法》、《关于加强本市住宅买卖经纪服务收费管理的通知》及相关监管部门的要求制订。交易双方应当仔细阅读后，在告知书上签字，确认已知悉告知和提示事项内容并无异议。</li>
		<li class="str_tit">第一条房屋基本情况确认：</li>
		<li>签署房屋买卖合同前，交易双方对房屋基本情况及周边社区情况等相关情况进行了确认，相互查验过身份证明及房屋权属证明等相关资料。</li>
		<li class="str_tit">第二条 房地产经纪机构及其从业人员与交易房屋不存在利害关系，已向交易双方说明了买卖合同和居间服务合同的内容。</li>
		<li class="str_tit">第三条 房屋买卖交易风险提示：</li>
		<li>(一)<b class="bf">对出售方风险提示：</b>1、请您如实告知出售房屋的权属状况、房屋属性，如未如实告知会产生承担违约责任及其他法律责任的风险；
			2、买受方如为代理人签署合同的，请您在核实并收取代理人的授权委托书后签署合同；
			3、因付款方式、付款时间未约定或约定不明，可能导致收取房款迟延甚至存在不能收取房款等风险，请您在签署合同时明确约定付款方式、付款时间及违约责任等；
			4、除贷款金额外，剩余房款在产权转移登记后再支付的，对于出售方存在较大风险；建议您选择资金监管或资金存管的方式进行交易，资金自行划转的风险将由交易双方自行承担；同时请慎重考虑后再行决定是否同意产权转移登记后分期付款的条款。
			5、央产房、央产经济适用房、经济适用房、按经济适用房管理的房屋，需提前确认是否符合上市交易条件，以免承担合同不能履行的风险。
			6、已确认观看了签约告知风险视频，链接<a href="http://pan.baidu.com/s/1hqGaHZA">http://pan.baidu.com/s/1hqGaHZA。</a> 
		</li>
		<li>(二)<b class="bf">对买受方风险提示：</b>1、在北京市存在限购措施的情况下，如买受方不具有购房资质，不仅无法实现合法拥有所购房产的目的，还需承担因此给出售方造成损失的责任；
			2、合同签署前，请您详细了解房屋的权属情况并要求出售方提供相关证明；如果出售方的房产性质是央产房、央产经济适用房、经济适用房、按经济适用房管理的，在签约前需要出售方提供确认该房产符合上市条件的证明资料；
			3、出售方为代理人的，请您核实代理人身份证明并留存授权委托书原件；
			4、出售房屋为共同财产的，请您查看并留存共有权人同意出售声明复印件；
			5、房屋存在抵押的，请与出售方约定解押时间、方式、金额、资金监管或资金存管及违约责任；
			6、为保障资金安全，建议您选择资金监管或资金存管的方式进行交易,资金自行划转的风险将由交易双方自行承担；
			7、买受方在签署网签合同后不能变更付款方式，否则需要撤销在先网签合同，在重新办理购房资质核验后方能重新办理网签手续，撤销在先网签手续后至重新办理网签期间存在发生影响交易的风险的可能。
			8、在房产未过户前直接向出售方支付全款或者大部分房款，可能存在付款后因为其他原因房产无法过户的情形造成巨大损失，因此，建议选择资金监管或者资金存管的方式以确保资金安全。
			9、如家庭成员中有军人、在京学校集体户口学生、持有工作居住证、外籍人事等情形，请您在签约当时告知您的经纪人。
			10、购房资格一旦申请，请您保持婚姻状况、家庭成员状态；如您婚姻状态或家庭成员人数有变更，应在变更前5日内通知经纪人。
			<strong>11、贷款手续中房屋评估价值以贷款机构指定的第三方评估机构结果为准。12、</strong>(二)已确认观看了签约告知风险视频，链接 <a href="http://pan.baidu.com/s/1hqGaHZA">http://pan.baidu.com/s/1hqGaHZA。</a>
		</li>
		<li>(三)<b class="bf">对交易双方的风险提示：</b>房地产经纪公司作为交易居间方，主要为买卖双方提供居间服务，即为买卖双方提供交易信息、提供签约服务平台及其他买卖双方委托的服务；居间方的义务是在提供居间服务过程中如实向委托人陈述居间方所获知的关于交易的相关信息，不得有故意隐瞒和误导。但是基于居间方企业法人的民事主体性质，在提供居间服务过程中，居间方不能代表政府机关对买卖双方的资质及房屋实际情况进行判定。对于交易房屋及交易对象的资质情况，居间方可以根据从业经验进行判断和预测，不作为构成居间方约束性义务。有关交易房屋的实际情况，以房屋登记主管机关作出的书面文件为准，买方需按照居间方的提示进行相关查验；有关交易对象的资质及资信能力，有赖于买卖双方自行判断，居间方不对交易任何一方的资信及资质承担任何责任。</li>
		<li class="str_tit">第四条 买卖交易过程中双方需提供的证明资料：</li>
		<li>(一)出售方应提供的证明、资料包括但不限于如下：1、身份证明原件和复印件2、房产权属证明原件和复印件3、土地权属证明原件和复印件4、婚姻证明原件和复印件5、共有权人同意出售证明文件原件6、户口薄原件和复印件7、原购房合同、票据及有关批准上市文件8、代理人身份证明原件和复印件，授权委托书原件9、房屋管理部门及相关机构要求提供的其他文件或资料。</li>
		<li>(二)买受方应提供的证明、资料包括但不限于如下：1、身份证明原件和复印件；2、婚姻证明原件和复印件；3、户口薄原件和复印件；4、家庭成员身份证明；5、家庭成员户口簿原件和复印件；6、暂住证或工作居住证；7、收入及资历证明(贷款)；8、房屋管理部门或贷款机构要求提供的其他文件或资料。</li>
		<li class="str_tit">第五条 合同签署提示：</li>
		<li>在了解交易流程和合同内容后请认真核对合同一式三份是否一致。各项合同中除需手工填写的内容之外，其他任何条款不得手写修改或补充，任何手写修改或补充内容均不发生法律效力。如果确需对合同中既定条款修改或补充的，须另行签订书面补充协议。</li>
		<li class="str_tit">第六条 经纪服务内容、收费告知：</li>
		<li>房地产经纪服务的内容、收费参见《居间服务合同》我公司所有收费项目均会向您提供统一收据或发票。房屋买卖交易所产生的相关税费，缴纳方及票据归属由交易双方自行协定，我公司提醒妥善保管完税证明及购房票据，切勿丢失。</li>
		<li class="str_ath">在委托期间及委托期满后的12个月内，如买卖双方未通过我爱我家居间，而私下达成房屋买卖或租赁交易的话，则视为我爱我家促成了该房屋的买卖交易，我爱我家有权依据居间合同要求义务方按该房屋成交金额支付居间服务费。</li>
		<li class="str_tit">第七条 经纪服务监督提示：</li>
		<li>为规范经纪行为并保障您的合法权益，合同签署后您主动向经纪人索要由我公司ERP系统生成的唯一的合同“查询校验编号”；收到合同后，请您查验是否填写校验编码，拨打客服热线“4008—515—515”查询编码真伪。另外，客服热线也能帮您查询交易进度，咨询买卖、租赁业务，以及对我公司工作人员的服务投诉。</li>
	</ul>
	<ul class="seal_ath">
	     <li>出售方（签章）：_________________</li>
	     <li>代理人（签章）：_________________</li>
	     <li>证件名称及编号：   _________________</li>
	     <li>_______年_____月_____日</li>
    </ul>
    <ul class="seal_ath">
	     <li>买受方（签章）：_________________</li>
	     <li>代理人（签章）：_________________</li>
	     <li>证件名称及编号：   _________________</li>
	     <li>_______年_____月_____日</li>
    </ul>
     <ul class="seal_ath">
	     <li>居间方（签章）：北京我爱我家房地产经纪有限公司</li>
	     <li>_______年_____月_____日</li>
    </ul>
    <h1 class="center_ath">居间服务合同</h1>
    <ul class="both_info">
	    <li class="info_01">甲方（出售方）：<u>$!vo.ownerSaleName</u>&nbsp;</li>
	    <li class="info_01">乙方（买受方）：<u>$!vo.clientSaleName</u>&nbsp;</li>
	    <li class="info_01">丙方（居间方）：北京我爱我家房地产经纪有限公司</u></li>
    </ul>
    <ul class="content">
    	<li class="str_ath">在丙方居间服务下，甲乙双方于______年______月______日签订了编号为________________的《北京市存量房屋买卖合同》（以下简称《买卖合同》），涉及房屋地址为：<u>$!vo.housingAddr</u>。</li>
   		<li class="str_tit">第一条 信息确认：</li>
   		<li>1、 甲方已对乙方的身份信息和购房资格情况进行了必要的审核确认，接受乙方作为房屋的买受方</li>
		<li>2、 乙方对房屋进行了实地查验，对房屋本身现状及权属情况均已了解并认可，乙方已对甲方提供的 【$!vo.roomCheck】资料进行了审核。（合同非打印项）</li>
    	<li class="str_tit">第二条 居间服务确认：</li>
    	<li>本合同的内容均为甲乙丙三方自愿真实的意思表示。甲方确认丙方已按其委托销售并发布房屋销售信息；乙方确认丙方已按其要求向其提供房源，并带其查看了房屋；甲乙双方确认丙方已提供订立买卖合同的信息和机会，并确认丙方协助甲乙双方订立了房屋地址为<u>$!vo.housingAddr</u>的《北京市存量房屋买卖合同》（“《买卖合同》”）。</li>
		<li class="str_tit">第三条 居间服务费</li>
		<li>1、 甲方向丙方支付居间服务费人民币（大写）<u>$!vo.ownBrokerageReceivedCapital</u>元整(￥ <u>$!vo.ownBrokerageReceived</u> 元 )。<br>&nbsp;&nbsp;&nbsp;&nbsp;乙方向丙方支付居间服务费人民币（大写<u>$!vo.cusBrokerageReceivedCapital</u>元整(￥<u>$!vo.cusBrokerageReceived</u>元 )。</li>
    	<li>2、 甲乙双方确认，在签署本合同时，甲方所售房屋不存在任何可以对交易造成实质影响的未披露情形，甲乙双方签订《买卖合同》后，甲乙双方均认可本合同第一条约定的丙方居间服务已完成。甲乙双方应于签订《买卖合同》当日向丙方支付本合同约定的居间服务费。</li>
    	<li class="str_tit">第四条  权利义务</li>
		<li>1、丙方应为甲乙双方提供订立买卖合同的信息和机会；丙方有权接受甲方售房委托；丙方有权接受乙方委托购房房屋，并带看房屋；协助甲乙双方订立买卖交易合同。</li>
		<li>2、丙方在提供居间服务过程中如实向乙方陈述其从甲方处所获知的关于交易房屋的相关信息，不得有故意隐瞒和误导。但基于丙方为民事主体，对于交易房屋及交易对象的资质情况，丙方只能进行形式审查，仅根据从业经验进行判断与预测，并不对交易房屋及交易对象资质的真实性承担任何责任。有关交易房屋的实际情况，以房屋登记主管机关作出的书面文件为准，甲乙双方需按照丙方的要求进行相关查验；有关交易对象的资质及资信能力，有赖于甲乙双方自行判断，丙方不对交易任何一方的资信及资质承担任何责任。</li>
		<li>3、甲乙双方有如实向丙方及交易办理机关提供房屋交易资料的义务，丙方有审查双方提供资料的义务，但丙方该审查义务仅限于形式审查，提供资料方应对资料的真实及有效性负责，丙方不对该等资料的真实及有效性承担任何责任。</li>
		<li>4、甲乙双方共同授权丙方办理房源核验、购房资质核验、网签及注销手续、资金监管、资金存管、物业交验等手续；甲乙双方在履约过程中对授权事项提出中止或终止，需向丙方出具书面告知书，且因此导致丙方不能履行授权事项，丙方不承担任何责任。</li>
		<li>5、甲乙双方认可网签合同价格以《买卖合同》成交价为准，甲乙双方另有约定的，需签署书面补充协议，并自行承担相关法律责任。 </li>
		<li class="str_tit">第五条  违约责任</li>
		<li>1、甲乙双方利用丙方所提供信息、条件、机会等，私自或者另行通过其他居间方签署《买卖合同》，甲乙双方除应向丙方支付本合同约定的全部居间服务费之外，还应当分别向丙方承担居间服务费20%的违约责任。</li>
		<li>2、 甲乙双方或一方延迟向丙方支付本合同约定的居间服务费，该延迟方除应向丙方支付居间服务费外， 每逾期一日按未付款的1%的标准向丙方支付迟延违约金；延迟超过5个工作日的，丙方有权暂停办理该房屋买卖合同约定的后续协助事项，并不承担因此导致的任何责任，上述责任及交易中已经发生的费用由延迟向丙方支付费用的一方承担。</li>
		<li>3、甲、乙任何一方违反本合同第四条或《买卖合同》的约定，导致丙方不能继续协助其办理买卖交易后续事项的，丙方不承担责任，且丙方有权收取本合同约定的居间服务费用和交易中已经发生的费用。如已交付的，丙方无须退还，如支付居间服务费方为守约方，支付方可向违约方追偿该笔费用。如未交付的，丙方有权通过包括但不限于法律途径催促支付义务方支付居间服务费。</li>
		<li class="str_tit">第六条  争议解决</li>
		<li>与本合同相关的任何争议，三方应协商解决；协商不成的，任何一方均可向房屋所在地的人民法院提起诉讼解决。</li>
		<li class="str_tit">第七条  其他</li>
		<li>1、本协议书一式三份，三方各执一份，自各方签字（盖章）之日起生效，如丙方未盖章对丙方不生效，但并不影响本合同中关于甲乙双方权利义务约定的效力。</li>
		<li>2、除本合同另有约定或三方协商一致外，各方不得擅自单方解除或变更本协议。</li>
		<li>3、三方同意，任何口头承诺、未经本人签字或加盖公章的任何书面承诺及合同条款的变更等行为均不产生法律约束力。</li>
    </ul>
     <ul class="seal_ath">
	     <li>甲方（签章）：_________________</li>
	     <li>代理人（签章）：_________________</li>
	     <li>证件名称及编号：   _________________</li>
	     <li>_______年_____月_____日</li>
    </ul>
    <ul class="seal_ath">
	     <li>乙方（签章）：_________________</li>
	     <li>代理人（签章）：_________________</li>
	     <li>证件名称及编号：   _________________</li>
	     <li>_______年_____月_____日</li>
    </ul>
     <ul class="seal_ath">
	     <li>丙方：北京我爱我家房地产经纪有限公司</li>
	     <li>丙方经纪人_________________ 经纪人注册号：_________________</li>
	     <li>丙方经纪人_________________ 经纪人注册号：_________________</li>
	     <li>_______年_____月_____日</li>
    </ul>
</div>
