<title>（我爱）存量房买卖合同打印模板</title>
 <style type="text/css">
	*{font-family:SimSun,"Times New Roman";line-height:200%;list-style: none;color: #000;font-size:16px}
	.cover_ath h3.fr,.main_ath h3.fr{text-align:right}
	.main_ath{margin-top: 10em;}
	.mt4{margin-top: 4em;}
	.enclosure_ath,.main_ath{font-size:16px}
	b{background: #ff0;}
	strong{background: #1fe6df}
	.adjunct{width:800px;margin: auto;}
	.adjunct4{width:900px;margin: 4em auto;}
	ul li{list-style:none;text-align:left}
	ul.both_info li.info_01{text-align:center}
	ul.both_info li{list-style:none}
	ul.content li{text-indent:32px}
	.str_tit{font-weight: bold;text-indent: 0px !important;}
	.str_ath{font-weight:700}
	.center_ath{text-align:center}
	.seal_ath{width:45%;display:inline-block}
	.logo{display: inline-block;width: 250px;}
</style>
<div class="ibox">
<div class="ibox-content" id="page1" ng-if="$!vo.entrustedTransfer==0||$!vo.entrustedTransfer==1">
	<div class="cover_ath">
		<h1 class="center_ath">签&nbsp;约&nbsp;提&nbsp;示</h1>
		<ul class="content">
			<li class="str_tit">一、交易风险提示</li>
			<li class="str_ath">对出售方风险提示：</li>
			<li>1、请您如实告知出售房屋的权属状况、房屋属性，并向买受方对房屋现状进行充分介绍，若未如实告知会产生承担违约责任及其他法律责任的风险；</li>
			<li>2、买受方如为代理人签署合同的，请您在核实并收取代理人的授权委托书复印件后签署合同；</li>
			<li>3、因付款方式、付款时间未约定或约定不明，可能导致收取房款迟延甚至存在不能收取房款等风险，请您在签署合同时明确约定付款方式、付款时间及违约责任等；</li>
			<li>4、除贷款金额外，剩余房款在产权转移登记后再支付的，对于出售方存在较大风险，建议您选择资金监管或资金存管的方式进行交易，资金自行划转的风险将由交易双方自行承担；同时请慎重考虑后再行决定是否同意产权转移登记后分期付款的条款。</li>
			<li>5、央产房、央产经济适用房、经济适用房、按经济适用房管理的房屋，需提前确认是否符合上市交易条件，以免承担合同不能履行的风险。</li>
			<li>6、请确认买受方在房屋产权转移时已支付全部房款或除贷款额以外的全部首付款。</li>
			<li class="str_ath">对买受方风险提示：</li>
			<li>1、在北京市存在限购政策情况下，如买受方不具有购房资质，不仅无法实现合法拥有所购房产的目的，且还需承担由此给出售方造成的损失；</li>
			<li>2、合同签署前，请您详细了解房屋的权属情况并要求出售方提供相关证明；如果出售方的房产性质是央产房、央产经济适用房、经济适用房、按经济适用房管理的，在签约前需要出售方提供确认该房产符合上市条件的证明资料；</li>
			<li>请您了解房屋装修、家居配置、是否有质量隐患等现状，以免买所购房屋不符合您的心意产生纠纷；</li>
			<li>3、出售方为代理人的，请您核实代理人身份证明并留存授权委托书复印件；</li>
			<li>4、出售房屋为共同财产的，请您查看并留存共有权人同意出售声明复印件；</li>
			<li>5、房屋存在抵押的，请与出售方约定解押时间、方式、金额、资金监管或资金存管及违约责任；</li>
			<li>6、为保障资金安全，交易双方未到建委进行房屋查档确权之前建议定金自行交接不超过10万元，并建议您选择资金监管或资金存管的方式进行交易,如未按上述提示，交易双方自行划转房款导致的风险将由交易双方自行承担；</li>
			<li>7、在房产未产权转移登记前直接向出售方支付全款或者大部分房款，可能存在付款后因为其他原因房产无法产权转移登记的情形造成损失，因此，建议选择资金监管或资金存管的方式以确保资金安全。</li>
			<li>8、买受人在网签前，办理网签期间存在交易时间延长和发生交易风险的可能。</li>
			<li>9、请确认出售方在房屋产权转移时已收到全部房款或除贷款以外的全部首付款。</li>
			<li class="str_tit">二、合同签署提示：</li>
			<li>1、本合同文本为示范文本，适用于本市行政区域内国有土地上的存量房买卖。存量房，即二手房，是指通过办理转移登记取得房屋所有权证的房屋。</li>
			<li>2、交易双方应当按照自愿、公平及诚实信用的原则订立合同。签订合同前，应当仔细阅读合同条款，认真核对一式叁份的内容是否一致，特别是合同中具有选择性、补充性、填充性的内容。【  】中选择内容，以划√方式选定，空格处需依据实际情况手工填写，对于实际情况未发生或双方不作约定时，应当在空格处打×，以示删除。合同中除需要手工填写的地方以外，其他地方不得手写添加任何内容，否则该等手写添加内容可能不具有法律效力，若合同条款有需要补充或调整之处需要双方签署书面补充协议。在了解交易流程（附件一）和合同内容后请认真核对一式叁（多）份合同是否完全一致。</li>
			<li>3、存量房屋所有权转移登记时所涉及的主要税费包括但不限于：契税、印花税、土地出让金、综合地价款、增值税、所得税、土地增值税等。(附件二)</li>
			<li>4、房屋交易过程中，买卖双方应当按照税务部门的相关规定足额缴纳各项税费，请勿采用任何形式进行规避自己的纳税义务。</li>
			<li>5、资金监管区域，交易结算资金所签订的《存量房交易结算资金划转协议》也应当作为本合同的补充协议。</li>
			<li class="str_tit">三、经纪服务监督提示：</li>
			<li>为规范经纪行为并保障您的合法权益，合同签署后请您主动向经纪人索要由我公司ERP系统生成唯一的合同“查询校验编号”；交付您合同时，请查验编码是否填写，且您可通过我公司客服热线“4008—515—515”查询编码真伪。另外，该热线也能帮您查询交易进度，咨询买卖、租赁业务，以及对我公司工作人员的服务投诉。</li>
			<li class="str_tit">四、履约服务提示：</li>
			<li>为确保履约顺利进行，建议选择与我公司保持合作的北京伟嘉安捷投资管理有限公司提供专业的贷款、转按揭、权证代办、督促履约、协调合同履行等服务（具体服务内容以有关各方与北京伟嘉安捷投资管理有限公司签署的书面合同为准），相关履约服务费用由北京伟嘉安捷投资管理有限公司收取。</li>
			<li class="str_ath">交易双方认可上述告知事项、认可我公司已向其告知了买卖交易风险的前提下,签署了本合同，并认可签署的本合同的法律效力。</li>
		</ul>
		<ul class="seal_ath">
            <li class="str_ath">出售方(签章)：</li>
            <li>_______年_____月_____日</li>
        </ul>
        <ul class="seal_ath">
            <li class="str_ath">买受方(签章)：</li>
            <li>_______年_____月_____日</li>
        </ul>
	</div>
	<div class="main_ath">
		 <h1 class="center_ath">北京市存量房屋买卖合同（经纪成交版）</h1>
		 <ul class="both_info">
            <li class="info_01">出售方（甲方）：<u>$!vo.ownerSaleName</u>&nbsp;证件类型及编号：<u>$!vo.ownerIdcardNum</u>
            </li>
            <li class="info_01">
            	&nbsp;&nbsp;&nbsp;&nbsp;联系电话：<u>$!vo.ownerContactPhone</u>&nbsp;通讯地址：<u>$!vo.ownerConnectAddr</u>
            </li>
             <li class="info_01">
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;代理人：<u>$!vo.ownerAgentName</u>&nbsp;证件类型及编号：<u>$!vo.ownerAgentIdcardNum</u>
            </li>
        </ul>
        <ul class="both_info mt4">
            <li class="info_01">买受方（乙方）：<u>$!vo.clientSaleName</u>&nbsp;证件类型及编号：<u>$!vo.clientIdcardNum</u>
            </li>
            <li class="info_01">
            	&nbsp;&nbsp;&nbsp;&nbsp;联系电话：<u>$!vo.clientContactPhone</u>&nbsp;通讯地址：<u>$!vo.clientConnectAddr</u>
            </li>
             <li class="info_01">
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;代理人：<u>$!vo.clientAgentName</u>&nbsp;证件类型及编号：<u>$!vo.clientAgentIdcardNum</u>
            </li>
        </ul>
        <ul class="content mt4">
        	<li>根据《中华人民共和国合同法》、《中华人民共和国城市房地产管理法》、《北京市城市房地产转让管理办法》及其他有关法律、法规的规定，甲乙双方在平等、自愿、公平、协商一致的基础上就存量房屋买卖事宜达成如下协议：</li>
        	<li class="str_tit">第一条  房屋基本情况：</li>
        	<li>（一）甲方所售房屋（以下简称该房屋）为【$!vo.housingType】，坐落在：<u>$!vo.housingAddr</u>区号/室(以房屋所有权证为准)。该房屋所在楼栋建筑总层数为：<u>$!vo.totalFloor</u>层，其中地上<u>$!vo.upperFloors</u>层，地下<u>$!vo.underFloors</u>层。该房屋所在楼层为<u>$!vo.buildingTotal</u>层，建筑面积共<u>$!vo.buildArea</u>平方米。</li>
        	<li>（二）该房屋规划设计用途为【$!vo.designUses】。 </li>
        	<li>（三）该房屋【${isCarPort}】带车位出售，车位坐落：<u>$!vo.carPortLocation</u>，产权证号：<u>$!vo.carPortNumber</u>。</li>
        	<li>（四）该房屋【$!vo.isOwnerOnlyHousing】为甲方家庭唯一住房；甲方购房时间【$!vo.isFullFiveYears】满五年，满五年依据【$!vo.fullFiveGist】 。</li>
        	<li class="str_tit">第二条  房屋权属情况：</li>
        	<li>（一）该房屋所有权证号为：<u>$!vo.certificateNum</u>，共有权证证号为：<u>$!vo.certificateCommonNum</u>，填发单位为：<u>$!vo.unitName</u>。甲方房屋为共有房屋时，无论是否有共有权证均需提供该房屋共有权人的同意出售声明，若甲方无法提供，将承担因此产生的法律责任。</li>
        	<li>（二）土地使用状况<br>该房屋占用的国有土地使用权以【$!vo.useMode】方式获得。该房屋【$!vo.isLandCertificate】，土地使用权证号为：<u>$!vo.landCertificate</u>。</li>
        	<li>（三）该房屋性质为下列选项中第<u>$!vo.houseNatureNum</u>种情形。</li>
        	<li>1、商品房；</li>
        	<li>2、已购公有住房【非央产】【央产】甲方需提供《在京中央单位已购公房变更通知单 》；</li>
        	<li>3、向社会公开销售的经济适用住房甲方需提供《已购经济适用住房上市出售意见》；</li>
        	<li>4、按经济适用住房管理的房屋（回迁房、安居房、康居房等房屋）；</li>
        	<li>5、$!vo.houseNature。</li>
        	<li>（四）该房屋的抵押情况为：【$!vo.isHouseCharge】。</li>
        	<li>该房屋已经设定抵押，抵押权人为：<u>$!vo.mortgageNameOne</u>，抵押金额为：人民币<u>$!vo.pawnAmountOne</u>元（大写<u>$!vo.pawnAmountCapitalOne</u>元整）。该房屋的抵押，甲方应<u>$!vo.mortgageConditionDateOne</u>(填写条件或时间)办理抵押注销手续。
			该房屋除前述条款抵押情形外，另有抵押的，抵押权人为：<u>$!vo.mortgageNameTwo</u>，抵押金额为人民币<u>$!vo.pawnAmountTwo</u>元（大写<u>$!vo.pawnAmountCapitalTwo</u>元整）；甲方同意自行于<u>$!vo.mortgageConditionDateTwo</u>(填写条件或时间)办理完毕该抵押的解除手续。</li>
			<li>（五）该房屋的租赁情况为：【$!vo.isHouseLease】。</li>
			<li>甲方已将该房屋出租的，需保证承租人已放弃优先购买权，并能够积极配合房屋交易过程中的评估、房屋交验等过程，若因此导致合同无法履行或被撤销，视为甲方违约。</li>
			<li class="str_tit">第三条  甲方与乙方通过房地产经纪机构居间的方式达成交易</li>
			<li>甲方和乙方通过房地产经纪机构居间介绍成交（房地产经纪机构名称：北京我爱我家房地产经纪有限公司，备案证明编号：京经纪（2002）第1339号），房地产经纪执业人员姓名：<u>$!vo.middlemanNameFirst</u>，资格证书编号：<u>$!vo.cerificateCodeFirst</u>；姓名：<u>$!vo.middlemanNameSecond</u>，资格证书编号：<u>$!vo.cerificateCodeSecond</u>。</li>
			<li class="str_tit">第四条  成交总价格、付款方式、付款时间 ：</li>
			<li>（一）经甲乙双方协商一致，该房屋成交总价为：人民币<u>$!vo.transactionPrice</u>元（大写<u>$!vo.transactionPriceCapital</u>元整），<strong>其中房屋主体价格为人民币 <u>$!vo.mainPrice</u> 元(大写：<u>$!vo.mainPriceCapital</u>元整 ),房屋装饰、装修和相关设施的补偿价格为人民币<u>$!vo.compensationPrice</u>元（大写：<u>$!vo.compensationPriceCapital</u>元整）</strong>；乙方应于本合同签订当日向甲方支付定金人民币<u>$!vo.deposit</u>元（大写<u>$!vo.depositCapital</u>元整），定金通过【$!vo.depositType】方式划转。</li>
			<li>本合同中资金监管指：北京市房屋管理行政机关为保障买卖交易双方资金安全，强制性要求资金监管区域交易过程中的资金划转必须通过其设立的资金监管专用账户监管，待产权转移登记完成资金解除监管。</li>
			<li>本合同中资金存管指：为确保交易资金安全，买卖交易双方可向银行申请，将交易资金进行冻结，冻结期内交易双方均不得单方使用、支配；待满足解冻条件后资金解冻。</li>
			<li>（二）乙方采取【$!vo.payType】方式支付该房屋成交总价款，具体付款方式及期限的约定。</li>
			#if ($!vo.payType=="1")
				<li>1、选择全款支付的，甲乙双方一致同意，乙方分【$!vo.loanNum】向甲方支付除定金之外的所有成交总价款。</li>
				<li>第$!vo.paymentNum次，于【$!vo.paymentClause】，乙方向甲方支付人民币<u>$!vo.paymenAmount</u>元(大写：<u>$!vo.paymenAmountCapital</u>元整)，资金通过【$!vo.transferWay】方式划转；</li>
			#elseif ($!vo.payType=="2")
				<li>2、乙方选择【$!vo.loanPayType】申办贷款的，拟贷款金额为人民币<u>$!vo.loanAmount</u>元（大写:<u>$!vo.loanAmountCapital</u>元整）。甲乙双方一致同意，乙方分【$!vo.loanNum】向甲方支付除定金与拟贷款金额外的所有成交总价款。</li>
				<li>第$!vo.paymentNum次，于【$!vo.paymentClause】，乙方向甲方支付人民币<u>$!vo.paymenAmount</u>元(大写：<u>$!vo.paymenAmountCapital</u>元整)，资金通过【$!vo.transferWay】方式划转；</li>
			#end
			<li class="str_tit">第五条  贷款的其他约定 ：</li>
			<li>（一）乙方因自身原因无法获得贷款机构批准贷款的，甲乙双方同意按以下第<u>$!vo.noBatchLoan</u>种方式解决：</li>
			<li>1、乙方自行筹齐剩余房价款，最迟在申请办理产权转移登记当天支付给甲方。</li>
			<li>2、乙方继续申请贷款，但再次申请贷款获得批贷函的时间最迟不得超过本合同签订后80日。</li>
        	<li>3、本合同终止，甲方应返还乙方已付款，乙方按成交总价款的10%承担违约责任，在交易进程中已经发生的各项费用由乙方承担。</li>
        	<li>（二）如因国家法律或政策调整导致贷款机构未对乙方批准贷款，且乙方无法支付该房屋成交总价款的，本合同终止。甲方返还乙方累计已付购房款，甲乙双方互不承担违约责任。</li>
        	<li class="str_tit">第六条  该房屋买卖交易的承诺</li>
        	<li>（一）甲方已如实陈述该房屋权属状况、设备、装修情况。甲方保证本人、共有权人同意出售上述房屋，且保证代理人已获得其合法授权出售上述房屋。甲方保证所提供的涉及本房屋交易的全部资料真实、有效。除合同及本次交易附件载明的房屋权属状况外不存在任何第三方在合同签订前及签订后对该房屋通过抵押、诉讼、查封等方式进行任何妨碍乙方取得房屋所有权的情况。因上述任何一原因导致合同无效或不能履行，甲方应退还累计已收全部房款，并向乙方承担房屋成交总价的20%违约责任及全部赔偿责任。</li>
        	<li>（二）甲方同意在交付房屋时将房屋附属设施设备及附件四所列物品及装修随同该房屋一并转让给乙方，应保证自本合同签订之日起至完成物业交验止，该房屋保持原状，违反本承诺按本合同第十条第五款承担违约责任。</li>
        	<li>该房屋的附属设施设备、装饰装修、其它相关物品清单等具体情况，见双方另行签署的补充协议或物品清单(附件四)。</li>
        	<li>（三）本合同签署之日起，甲乙双方、共有人承诺积极履行该房屋交易过程中网签、解抵押、评估、贷款、交税、产权转移登记、抵押、放款、房屋交付等环节的义务并按要求提供材料，若任何一方违反本承诺，按本合同第十条第五款承担违约责任。</li>
        	<li class="str_tit">第七条  房屋的交付 ：</li>
        	<li>（一）甲方应当在<u>$!vo.deliveryConditions</u>（填写条件或时间）将该房屋交付给乙方。</li>
        	<li>（二）该房屋在交付日之前发生的费用由甲方承担，交付日以后（含当日）发生的费用由乙方承担。</li>
			<li>（三）甲方同意将其缴纳的该房屋专项维修资金（公共维修基金）的账面余额在办理房屋产权转移手续的同时随房屋一同无偿转至乙方名下。</li>
			<li>（四）房屋交付的其他约定。</li> 
			<li class="str_tit">第八条 税、费相关规定：</li>
			<li>（一）本次交易应缴纳的所有税、费由【$!vo.taxesValue】，因约定承担一方不按约定缴纳全部税费，导致合同不能履行或解除的，其应当向对方支付相当于该房屋成交总价20％的违约金。</li>
			<li>（二）如甲方承诺该房屋为家庭唯一住房，须在交税时保持家庭唯一住房状态；如违反上述约定，造成增加的税费由甲方自行承担。</li>
			<li>（三）本合同履行过程中因政策原因需缴纳新的税费的，约定由【$!vo.taxPayingParty】缴纳；未约定由谁缴纳的由政策规定的缴纳方缴纳。</li>
			<li class="str_tit">第九条  权属转移登记</li>
			<li>（一）甲、乙双方最晚应于合同签订之日起90日内，共同向房屋权属登记部门申请办理房屋权属转移登记手续。如合同履行期间，因产生需要延长申请办理房屋权属转移登记时间的情况，甲、乙双方应当另行签订书面的补充协议。</li>
			<li>（二）因甲方原因致使乙方未能在合同签订之日起120日内取得房屋所有权证书的，乙方有权单方解除合同。</li>
			<li>1、如乙方选择解除合同的，适用本合同第十一条第二款约定。</li>
			<li>2、如乙方选择继续履行合同的，甲方应当继续履行房屋权属转移义务，且自本合同约定的履行期限届满之日起至实际产权转移登记之日止，甲方按乙方全部已付款的万分之五/日向乙方支付逾期违约金，并于实际产权转移登记之日向乙方支付。</li>
			<li>（三）因乙方原因致使甲方在合同签订之日起120日内未能完成房屋产权转移且乙方取得房屋产权证书，甲方有权单方解除合同。</li>
			<li>1、甲方选择解除合同的，适用本合同第十一条第一款约定。</li>
			<li>2、甲方选择继续履行合同的，甲、乙双方应依据实际情况另行书面约定产权转移登记日期，乙方应自本合同约定的履行期限届满之日起至实际产权转移登记之日止，按全部未付金额的万分之五/日支付甲方逾期违约金。并于实际产权转移登记之日向甲方支付。</li>
			<li>（四）甲方应当在该房屋所有权转移之日起10日内，向房屋所在地的户籍管理机关办理完成原有全部户口迁出手续。如因甲方自身原因未如期或无法将与该房屋相关的户口迁出的，应当向乙方支付房屋总价款10%的违约金，并继续履行全部户口迁出义务。</li>
			<li class="str_tit">第十条 违约条款</li>
			<li>（一）除不可抗力外，甲方逾期交房违约责任：</li>
			<li>1、甲乙双方约定房屋交付在该房屋产权转移登记之后的，甲方逾期10日之内交付，自约定的房屋交付期限届满之次日至实际交付房屋之日应按该房屋成交总价万分之五/日向乙方支付逾期违约金，且应于实际交付之日向乙方支付。甲方逾期超过10日，甲方应继续履行房屋交付义务并按该房屋成交总价的5%向乙方支付违约金，该违约金应于房屋实际交付之日支付。</li>
			<li>2、甲乙双方约定房屋交付在该房屋产权转移登记之前的，甲方逾期10日之内交付，自约定的房屋交付期限届满之次日至实际交付房屋之日应按该房产成交总价万分之五/日向乙方支付逾期违约金，且应于实际交付之日向乙方支付，合同继续履行。</li>
			<li>甲方逾期超过10日，乙方有权单方解除合同。乙方选择解除合同的，适用本合同第十一条第二款的约定。乙方选择继续履行合同的，甲方应当继续履行，应于该房屋实际交付之日按该房屋成交总价万分之五/日向乙方支付逾期违约金。</li>
			<li class="str_tit">（二）除不可抗力外，乙方未按本合同及补充协议约定时间付款的违约责任：</li>
			<li>1、乙方逾期在10日之内，合同继续履行。自约定的应付款期限届满之次日起至实际支付应付款之日止，乙方应按逾期应付款万分之五/日向甲方承担违约责任，并于实际支付应付款之日内向甲方支付违约金。</p>
			<li>2、乙方逾期超过10日的，甲方有权单方解除合同。甲方选择解除合同的，适用本合同第十一条第一款约定。</li>
			<li>（三）甲方将该房屋出售第三人，导致乙方不能取得房屋所有权证的，乙方有权退房解除合同，乙方选择退房的解除合同的，适用本合同第十一条第二款约定。</li>
			<li>（四）乙方因个人原因导致贷款机构未对乙方批准贷款，在如下情形时，甲方有权单方解除合同，选择单方解除的适用第十一条第一款约定。</li>
			<li>1、乙方选择自行筹集剩余房价款的，若超过约定产权转移登记申请之日未能筹齐并支付给甲方；</li>
			<li>2、乙方选择继续贷款超过本合同签订之日起80日未获得批准贷款的。</li>
			<li>（五）除本合同另有约定的违约责任外，任何一方未履行本合同约定义务，经守约方催告后15日内仍未履行该义务，如合同可继续履行的甲乙双方须继续履行，违约方须按该房屋成交总价的10%向守约方承担违约责任；如构成本合同解除情形的，适用本合同第十一条解除条款约定。</li>
			<li class="str_tit">第十一条 合同解除条款</li>
			<li>（一）如甲方依照本合同的约定单方解除本合同，应当以书面的方式进行。本合同自甲方向乙方发出的书面通知到达乙方之日起自动解除。乙方应按成交总价款的20%向甲方承担违约责任。甲方于合同解除之日退还抵扣违约金后剩余的乙方已付款；如已付款不足以抵扣，乙方应于解除之日支付不足部分。在房屋交易过程中，已经发生的各项费用及其他损失均由乙方承担。解除合同后，乙方另须配合甲方办理注销网上签约等手续，如未办理甲方可单独追究乙方违约责任。</li>
			<li>（二）如乙方依照本合同的约定单方解除本合同，应当以书面的方式进行。本合同自乙方向甲方发出的书面通知到达甲方之日起自动解除。甲方应于5个工作日内将其已经收取的乙方的全部付款返还给乙方，并按照房屋成交总价的20％向乙方支付违约金。如甲方逾期将乙方已经支付的款项返还给乙方，则每逾期一日，应按照未返还款项总额的万分之五/日向乙方支付违约金。在房屋交易过程中，已经发生的各项费用及其他损失均由甲方承担。另解除合同后须配合乙方办理注销网签手续等，如未办理乙方可单独追究甲方违约责任。</li>
			<li class="str_tit">第十二条 不可抗力</li>
			<li>不可抗力：是指本合同签订后，发生了买卖交易双方无法预见、无法避免、无法控制、无法克服的意外事件或自然灾害（如战争、罢工、征收、征用、台风、地震、火灾、水灾等），以致合同当事人不能依约履行职责或不能如期履行职责，发生意外事件或遭受自然灾害的一方可以免除履行职责的责任或推迟履行职责。但因不可抗力不能按照约定履行合同的一方当事人应当及时告知另一方当事人，并自不可抗力事件结束之日起30日内向另一方当事人提供证明。</li>
			<li>上述房屋风险责任自该房屋【所有权转移】【交付房屋】之日起转移给乙方。</li>
			<li class="str_tit">第十三条  争议解决方式</li>
			<li>本合同项下发生的任何争议，由甲乙双方协商解决；协商不成，任何一方可向房屋所在地人民法院起诉。</li>
			<li class="str_tit">第十四条 其他</li>
			<li>（一）本合同自甲乙双方签字或盖章之日起生效。甲乙双方可以根据具体情况对本合同中未约定、约定不明或不适用的内容签订书面补充协议进行变更或补充。本合同的补充协议与本合同具有同等法律效力。补充协议与本合同约定不一致之处以补充协议为准。</li>
			<li>（二）本合同正文共7页，一式三份，每份均具有同等法律效力；甲乙双方各执一份，北京我爱我家房地产经纪有限公司执一份。</li>
        </ul>
        <ul class="seal_ath">
            <li class="str_ath">甲方(签章)：</li>
            <li>【法定代表人】（签字）：</li>
            <li>【委托代理人】(签章)：</li>
            <li>_______年_____月_____日</li>
        </ul>
        <ul class="seal_ath">
            <li class="str_ath">乙方(签章)：</li>
            <li>【法定代表人】（签字）：</li>
            <li>【委托代理人】(签章)：</li>
            <li>_______年_____月_____日</li>
        </ul>
	</div>
	<div class="main_ath">
		<ul class="content">
			<li class="str_tit">附件一</li>
			<h1 class="center_ath str_ath f14_ath">买卖交易全流程</h1>
		</ul>
		<div class="adjunct"><img src="$link.contextPath/resources/img/adjunct1.jpg"></div>
	</div>
	<div class="main_ath">
		<ul class="content">
			<li class="str_tit">附件二</li>
			<h1 class="center_ath str_ath f14_ath">交易税费参考（最终以国家相关部门规定为准）</h1>
			<li class="str_tit">一、契税：（全部以家庭为单位）</li>
			<li>1、首次购买90（含）平米以下的住房契税税率1% ；首次购买90平米以上的普通住房契税税率1.5% ；</li>
			<li>2、非首套购房契税税率3% ；</li>
			<li>3、公司、其他组织买房契税税率3%；</li>
			<li>4、用途为非住宅的契税税率3%；</li>
			<li class="str_tit">二、增值税：</li>
			<li>1、满2年的普通住宅免征；满2年的非普通住宅按差额的5.6%计征；</li>
			<li>2、不满2年的住宅按照全额的5.6%计征增值税；</li>
			<li>3、非住宅类房产按差额5.6%或全额5.6%计征增值税（执行标准按各区政策规定执行）</li>
			<li class="str_tit">三、印花税：</li>
			<li>1、买卖双方任一方是单位的印花税0.1%；</li>
			<li>2、个人之间交易住宅类房屋，目前暂时免征；</li>
			<li>3、非住宅类0.1%；</li>
			<li>4、贴本印花:5元/本；</li>
			<li class="str_tit">四、土地增值税：</li>
			<li>个人出售住宅类房屋，目前暂时免征；</li>
			<li>非住宅类房屋或非个人出售：按差额30%-60%征收或全额5%征收（执行标准按各区政策规定执行）；</li>
			<li class="str_tit">五、个人所得税：(以甲方家庭为单位)</li>
			<li>1、不满5年和满5年非唯一的住宅类房产上市出售：通过税收征管、房屋登记等信息系统能核实房屋原值的，严格按照差额的20%计征；不能提供原值相应凭证，主管税务机关通过税收征管、房屋登记等信息系统也未能核实房屋原值的，个人所得税按全额的1%计征。</li>
			<li>2、满5年且唯一的住宅类房产免征个人所得税。</li>
			<li>3、非住宅类按差额20%或全额20%征收个人所得税（执行标准按各区政策规定执行）</li>
			<li class="str_tit">六、产权转移登记、抵押登记费：</li>
			<li>1、房屋所有权证标注用途为住宅的80元/件；</li>
			<li>2、房屋所有权证标注用途为非住宅的（包括写字楼、公寓办公、商铺、单独车库、酒店式公寓等）550元/件。</li>
			<li class="str_ath">以上交易税费仅供参考，以房屋转移登记时税务及相关机关收费标准和依据为准。</li>
		</ul>
	</div>
	<div class="main_ath">
		<ul class="content">
			<li class="str_tit">附件三</li>
			<h1 class="center_ath str_ath f14_ath">所售房屋的附随物品清单</h1>
			<li>注意事项：</li>
			<li>1、清单中的相关物品,如无特殊约定均视为正常使用状态.</li>
			<li>2、清单中的相关物品在房屋交割时出售方须向买受方交付，相关价款已包含在房屋总价款中。</li>
			<li>3、本清单单独使用无效,需与双方签署编号为_____________的买卖合同一并使用.请双方保管好此凭证。</li>
		</ul>
		<div class="adjunct4"><img src="$link.contextPath/resources/img/adjunct4.jpg"></div>
		<ul class="seal_ath">
            <li class="str_ath">甲方（签章）：</li>
            <li>_______年_____月_____日</li>
        </ul>
        <ul class="seal_ath">
            <li class="str_ath">乙方（签章）：</li>
            <li>_______年_____月_____日</li>
        </ul>
	</div>
</div>
<div class="ibox-content" id="page2" ng-if="$!vo.entrustedTransfer==0||$!vo.entrustedTransfer==1">
	<div class="cover_ath">
		<ul class="ov_ath">
			<li class="fl">               
				<img src="$link.contextPath/resources/img/logo.png" class="logo">
			</li>
			<li class="fr">
				<span class="str_ath f14_ath col">合同编号：$!vo.perfContractNum</span>
			</li>
		</ul>
		<h1 class="center_ath">履 约 服 务 合 同</h1>
		<ul class="both_info">
	        <li class="info_01">甲方（出售方）：<u>$!vo.ownerSaleName</u>&nbsp;</li>
	        <li class="info_01">乙方（买受方）：<u>$!vo.clientSaleName</u>&nbsp;</li>
	        <li class="info_01">丙方（服务方）：北京伟嘉安捷投资管理有限公司</u></li>
    	</ul>
    	<ul class="content">
    		<li class="str_ath">鉴于甲乙双方就坐落于<u>$!vo.housingAddr</u>房屋交易签署了编号为的《北京市存量房屋买卖合同》（以下简称《买卖合同》），现甲乙双方就委托丙方办理合同履行事宜订立本合同。</li>
    		<li class="str_tit">第一条  《买卖合同》履行服务的具体内容：</li>
			<li>1、 保管与交易相关的产权资料、乙方购房资格审核、贷款、过户的相关资料；</li>
			<li>2、 若甲方所售房屋存在抵押，丙方为其提供办理解押手续服务； </li>
			<li>3、 对乙方个人及家庭资信状况做预审查，根据个人及家庭资信情况为乙方推荐适合的贷款方案；</li>
			<li>4、 协助甲乙双方办理公证手续、房屋评估手续、贷款手续、房屋缴税手续、房屋产权转移、抵押登记手续；</li>
			<li>5、 经甲乙双方共同申请，可提供房屋交易资金存管服务，需甲乙双方与银行另行签署存管协议；</li>
			<li>6、 组织各方协商解决交易过程中产生的各类事项或纠纷；</li>
			<li>7、 通过电话、短信、函件、面谈等方式催告履约义务方及时依合同履约；</li>
			<li>8、 协助守约方向违约方发送履约告知函件。</li>
			<li class="str_tit">第二条  收费标准</li>
			<li>1、 签订本合同当日，甲方向丙方支付履约服务费人民币（大写）<u>$!vo.ownPerformanceReceivedCapital</u>元整(￥<u>$!vo.ownPerformanceReceived</u>元 )。</li>
			<li>2、 签订本合同当日，乙方向丙方支付履约服务费人民币（大写）<u>$!vo.cusPerformanceReceivedCapital</u>元整(￥<u>$!vo.cusPerformanceReceived</u>元 )。</li>
			<li>3、 乙方应支付因申请贷款、办理过户、抵押等产生的评估费、担保费、登记费及其他第三方相关费用，由丙方代收并向相关机构交纳，相关发票由收费机关开具。如遇政策性收费调整，乙方需按调整后的政策执行。</li>
			<li>4、 如果甲乙双方在办理交易过程中除本合同第一条约定服务之外的多元化服务，需与丙方另行签署有关协议（合同）并支付相关费用。</li>
			<li class="str_tit">第三条  权利义务</li>
			<li>1、 乙方明确采取【$!vo.payTypeAll】方式购买交易房屋，如变更付款方式，则贷款过程中已产生的费用自行承担。</li>
			<li>2、 因乙方原因无法贷款，乙方将商贷或公积金贷款变更为全款，在不影响甲方按约定时间取得购房款的情况下，甲方同意乙方变更为全款，全款支付需按行政管理机关要求进行资金监管或存管。</li>
			<li>3、 甲乙双方均认可批贷的金额、年限、利率，均以贷款机构通知实际批贷情况为准（若遇贷款机构政策调整的,以调整后的为准）。乙方实际获取的批贷额与拟贷款额差额部分，在贷款机构确认审批贷款额之日起5日内补齐并交付甲方。</li>
			<li>4、 甲乙双方应遵守本合同的约定、政府相关部门和贷款机构的相关规定，积极向丙方提供办理各项手续的全部资料并积极办理各项手续，提供资料包括但不限于本人及配偶的身份及户口证明、暂住证、婚姻证明、房屋权属证明、个人资信证明、物业结清证明等。</li>
			<li>5、 甲乙双方应按国家法律法规要求各自承担相应税费，但有特殊约定的依据特殊约定。因甲乙双方未能按时、  足额缴纳税费   
	导致无法办理相关手续，由甲乙双方承担相关责任。</li>
			<li>6、 为尽快向甲方支付尾款，乙方应积极配合并授权丙方办理抵押登记手续，并在抵押登记手续办理完成之前，将乙方所购房屋
	所有权证交付丙方，由丙方交付贷款机构收押或办理抵押登记手续，如不交付本条约定房屋产权证原件导致丙方无法办理后续手续的责任由乙方按《买卖合同》第十条第（五）款承担违约责任。</li>
			<li>7、 乙方贷款购房，应在房屋所有权证核发之日起十五个工作日内办理房屋抵押登记；乙方每逾期一日办理抵押登记，应按贷款  
	机构核发的贷款金额千分之二的标准分别向甲方与丙方支付违约金。非乙方原因造成的未在约定时间内办理，乙方不承担责任。</li>
			<li>8、 丙方凭契税完税凭证、房屋所有权证、他项权利证及相关资料向贷款机构提交放款手续申请，贷款机构完成审核手续后将乙方申请的贷款直接划给甲方。</li>
			<li>9、 丙方协助甲方办理出售房屋的解押手续，甲方解押当日，由甲乙丙三方到场共同办理。</li>
			<li>10、甲乙双方应向丙方留存有效的联系地址、联系电话、电子邮箱，以便丙方及时将各流程需通知事项通知到甲乙双方。如任
	何一方联系地址、联系电话、电子邮箱变更或失效，应及时书面通知丙方。丙方的书面通知以甲乙双方在《买卖合同》附件中留存的联系地址寄出挂号信或快递后三日即视为送达</li>
			<li class="str_tit">第四条  违约责任</li>
			<li>1、 甲乙双方如未按照本合同约定履行义务，导致合同无法履行的，违约方应向守约方支付房屋成交价的20%的违约金。丙方已收取的服务费、评估费不予退还，守约方可作为己方损失向违约方主张赔偿。</li>
			<li>2、甲乙双方未按本合同约定支付服务费超过五日的，丙方有权中止一切服务项目，并且不承担违约责任。而欠缴服务费一方除应足额向丙方支付其欠缴的服务费外，还需对未支付部分，按照每日1%的标准支付违约金。</li>
			<li>3、在服务过程中，丙方因工作疏漏，遗失甲乙双方相关文件及资料，丙方承担补办手续费并给予相应的经济补偿。甲、乙双方中任何一方拖延或拒绝配合补办，造成另一方损失，由拖延或拒绝配合一方按《买卖合同》第十条第（五）款承担违约责任。</li>
			<li class="str_tit">第五条 争议解决</li>
			<li>与本合同相关的任何争议，三方应协商解决；协商不成的，任何一方均可向房屋所在地的人民法院提起诉讼。</li>
			<li class="str_tit">第六条 其他</li>
			<li>本协议书一式三份，甲乙双方各执一份，丙方执一份，自各方签字（盖章）之日起生效，如丙方未盖章对丙方不生效，但并不影响本合同中关于甲乙双方权利义务约定的效力。</li>
    	</ul>
    	<ul class="seal_ath">
            <li>甲方（签章）：_________________</li>
            <li>代理人（签章）：_________________</li>
            <li>_______年_____月_____日</li>
        </ul>
        <ul class="seal_ath">
            <li>乙方（签章）：_________________</li>
            <li>代理人（签章）：_________________</li>
            <li>_______年_____月_____日</li>
        </ul>
        <ul class="seal_ath">
            <li>丙方（签章）：北京伟嘉安捷投资管理有限公司</li>
            <li>_______年_____月_____日</li>
        </ul>
	</div>
</div>
<div class="ibox-content" id="page3"  ng-if="$!vo.entrustedTransfer==0">
	<div class="cover_ath">
		<ul class="ov_ath">
			<li class="fl">               
				<img src="$link.contextPath/resources/img/logowiwj.png" class="logo">
			</li>
			<li class="fr">
				<span class="str_ath f14_ath col">合同编号：$!vo.brokContractNum</span>
				<span class="str_ath f14_ath col">校验编号：</span>
			</li>
		</ul>
	</div>
	<h1 class="center_ath">房地产经纪服务告知和提示</h1>
	<ul class="content">
		<li class="str_ath">说明： 本告知书由北京我爱我家房地产经纪有限公司依据《房地产经纪管理办法》、《关于加强本市住宅买卖经纪服务收费管理的通知》及相关监管部门的要求制订。交易双方应当仔细阅读后，在告知书上签字，确认已知悉告知和提示事项内容并无异议。</li>
		<li class="str_tit">第一条房屋基本情况确认：</li>
		<li>签署房屋买卖合同前，交易双方对房屋基本情况及周边社区情况等相关情况进行了确认，相互查验过身份证明及房屋权属证明等相关资料。</li>
		<li class="str_tit">第二条 房地产经纪机构及其从业人员与交易房屋不存在利害关系，已向交易双方说明了买卖合同和居间服务合同的内容。</li>
		<li class="str_tit">第三条 房屋买卖交易风险提示：</li>
		<li>(一)<b class="bf">对出售方风险提示：</b>1、请您如实告知出售房屋的权属状况、房屋属性，如未如实告知会产生承担违约责任及其他法律责任的风险；
			2、买受方如为代理人签署合同的，请您在核实并收取代理人的授权委托书后签署合同；
			3、因付款方式、付款时间未约定或约定不明，可能导致收取房款迟延甚至存在不能收取房款等风险，请您在签署合同时明确约定付款方式、付款时间及违约责任等；
			4、除贷款金额外，剩余房款在产权转移登记后再支付的，对于出售方存在较大风险；建议您选择资金监管或资金存管的方式进行交易，资金自行划转的风险将由交易双方自行承担；同时请慎重考虑后再行决定是否同意产权转移登记后分期付款的条款。
			5、央产房、央产经济适用房、经济适用房、按经济适用房管理的房屋，需提前确认是否符合上市交易条件，以免承担合同不能履行的风险。
			6、已确认观看了签约告知风险视频，链接<a href="http://pan.baidu.com/s/1hqGaHZA">http://pan.baidu.com/s/1hqGaHZA。</a> 
		</li>
		<li>(二)<b class="bf">对买受方风险提示：</b>1、在北京市存在限购措施的情况下，如买受方不具有购房资质，不仅无法实现合法拥有所购房产的目的，还需承担因此给出售方造成损失的责任；
			2、合同签署前，请您详细了解房屋的权属情况并要求出售方提供相关证明；如果出售方的房产性质是央产房、央产经济适用房、经济适用房、按经济适用房管理的，在签约前需要出售方提供确认该房产符合上市条件的证明资料；
			3、出售方为代理人的，请您核实代理人身份证明并留存授权委托书原件；
			4、出售房屋为共同财产的，请您查看并留存共有权人同意出售声明复印件；
			5、房屋存在抵押的，请与出售方约定解押时间、方式、金额、资金监管或资金存管及违约责任；
			6、为保障资金安全，建议您选择资金监管或资金存管的方式进行交易,资金自行划转的风险将由交易双方自行承担；
			7、买受方在签署网签合同后不能变更付款方式，否则需要撤销在先网签合同，在重新办理购房资质核验后方能重新办理网签手续，撤销在先网签手续后至重新办理网签期间存在发生影响交易的风险的可能。
			8、在房产未过户前直接向出售方支付全款或者大部分房款，可能存在付款后因为其他原因房产无法过户的情形造成巨大损失，因此，建议选择资金监管或者资金存管的方式以确保资金安全。
			9、如家庭成员中有军人、在京学校集体户口学生、持有工作居住证、外籍人事等情形，请您在签约当时告知您的经纪人。
			10、购房资格一旦申请，请您保持婚姻状况、家庭成员状态；如您婚姻状态或家庭成员人数有变更，应在变更前5日内通知经纪人。
			<strong>11、贷款手续中房屋评估价值以贷款机构指定的第三方评估机构结果为准。12、</strong>(二)已确认观看了签约告知风险视频，链接 <a href="http://pan.baidu.com/s/1hqGaHZA">http://pan.baidu.com/s/1hqGaHZA。</a>
		</li>
		<li>(三)<b class="bf">对交易双方的风险提示：</b>房地产经纪公司作为交易居间方，主要为买卖双方提供居间服务，即为买卖双方提供交易信息、提供签约服务平台及其他买卖双方委托的服务；居间方的义务是在提供居间服务过程中如实向委托人陈述居间方所获知的关于交易的相关信息，不得有故意隐瞒和误导。但是基于居间方企业法人的民事主体性质，在提供居间服务过程中，居间方不能代表政府机关对买卖双方的资质及房屋实际情况进行判定。对于交易房屋及交易对象的资质情况，居间方可以根据从业经验进行判断和预测，不作为构成居间方约束性义务。有关交易房屋的实际情况，以房屋登记主管机关作出的书面文件为准，买方需按照居间方的提示进行相关查验；有关交易对象的资质及资信能力，有赖于买卖双方自行判断，居间方不对交易任何一方的资信及资质承担任何责任。</li>
		<li class="str_tit">第四条 买卖交易过程中双方需提供的证明资料：</li>
		<li>(一)出售方应提供的证明、资料包括但不限于如下：1、身份证明原件和复印件2、房产权属证明原件和复印件3、土地权属证明原件和复印件4、婚姻证明原件和复印件5、共有权人同意出售证明文件原件6、户口薄原件和复印件7、原购房合同、票据及有关批准上市文件8、代理人身份证明原件和复印件，授权委托书原件9、房屋管理部门及相关机构要求提供的其他文件或资料。</li>
		<li>(二)买受方应提供的证明、资料包括但不限于如下：1、身份证明原件和复印件；2、婚姻证明原件和复印件；3、户口薄原件和复印件；4、家庭成员身份证明；5、家庭成员户口簿原件和复印件；6、暂住证或工作居住证；7、收入及资历证明(贷款)；8、房屋管理部门或贷款机构要求提供的其他文件或资料。</li>
		<li class="str_tit">第五条 合同签署提示：</li>
		<li>在了解交易流程和合同内容后请认真核对合同一式三份是否一致。各项合同中除需手工填写的内容之外，其他任何条款不得手写修改或补充，任何手写修改或补充内容均不发生法律效力。如果确需对合同中既定条款修改或补充的，须另行签订书面补充协议。</li>
		<li class="str_tit">第六条 经纪服务内容、收费告知：</li>
		<li>房地产经纪服务的内容、收费参见《居间服务合同》我公司所有收费项目均会向您提供统一收据或发票。房屋买卖交易所产生的相关税费，缴纳方及票据归属由交易双方自行协定，我公司提醒妥善保管完税证明及购房票据，切勿丢失。</li>
		<li class="str_ath">在委托期间及委托期满后的12个月内，如买卖双方未通过我爱我家居间，而私下达成房屋买卖或租赁交易的话，则视为我爱我家促成了该房屋的买卖交易，我爱我家有权依据居间合同要求义务方按该房屋成交金额支付居间服务费。</li>
		<li class="str_tit">第七条 经纪服务监督提示：</li>
		<li>为规范经纪行为并保障您的合法权益，合同签署后您主动向经纪人索要由我公司ERP系统生成的唯一的合同“查询校验编号”；收到合同后，请您查验是否填写校验编码，拨打客服热线“4008—515—515”查询编码真伪。另外，客服热线也能帮您查询交易进度，咨询买卖、租赁业务，以及对我公司工作人员的服务投诉。</li>
	</ul>
	<ul class="seal_ath">
	     <li>出售方（签章）：_________________</li>
	     <li>代理人（签章）：_________________</li>
	     <li>证件名称及编号：   _________________</li>
	     <li>_______年_____月_____日</li>
    </ul>
    <ul class="seal_ath">
	     <li>买受方（签章）：_________________</li>
	     <li>代理人（签章）：_________________</li>
	     <li>证件名称及编号：   _________________</li>
	     <li>_______年_____月_____日</li>
    </ul>
     <ul class="seal_ath">
	     <li>居间方（签章）：北京我爱我家房地产经纪有限公司</li>
	     <li>_______年_____月_____日</li>
    </ul>
    <h1 class="center_ath">居间服务合同</h1>
    <ul class="both_info">
	    <li class="info_01">甲方（出售方）：<u>$!vo.ownerSaleName</u>&nbsp;</li>
	    <li class="info_01">乙方（买受方）：<u>$!vo.clientSaleName</u>&nbsp;</li>
	    <li class="info_01">丙方（居间方）：北京我爱我家房地产经纪有限公司</u></li>
    </ul>
    <ul class="content">
    	<li class="str_ath">在丙方居间服务下，甲乙双方于______年______月______日签订了编号为________________的《北京市存量房屋买卖合同》（以下简称《买卖合同》），涉及房屋地址为：<u>$!vo.housingAddr</u>。</li>
   		<li class="str_tit">第一条 信息确认：</li>
   		<li>1、 甲方已对乙方的身份信息和购房资格情况进行了必要的审核确认，接受乙方作为房屋的买受方</li>
		<li>2、 乙方对房屋进行了实地查验，对房屋本身现状及权属情况均已了解并认可，乙方已对甲方提供的 【$!vo.roomCheck】资料进行了审核。（合同非打印项）</li>
    	<li class="str_tit">第二条 居间服务确认：</li>
    	<li>本合同的内容均为甲乙丙三方自愿真实的意思表示。甲方确认丙方已按其委托销售并发布房屋销售信息；乙方确认丙方已按其要求向其提供房源，并带其查看了房屋；甲乙双方确认丙方已提供订立买卖合同的信息和机会，并确认丙方协助甲乙双方订立了房屋地址为<u>$!vo.housingAddr</u>的《北京市存量房屋买卖合同》（“《买卖合同》”）。</li>
		<li class="str_tit">第三条 居间服务费</li>
		<li>1、 甲方向丙方支付居间服务费人民币（大写）<u>$!vo.ownBrokerageReceivedCapital</u>元整(￥ <u>$!vo.ownBrokerageReceived</u> 元 )。<br>&nbsp;&nbsp;&nbsp;&nbsp;乙方向丙方支付居间服务费人民币（大写<u>$!vo.cusBrokerageReceivedCapital</u>元整(￥<u>$!vo.cusBrokerageReceived</u>元 )。</li>
    	<li>2、 甲乙双方确认，在签署本合同时，甲方所售房屋不存在任何可以对交易造成实质影响的未披露情形，甲乙双方签订《买卖合同》后，甲乙双方均认可本合同第一条约定的丙方居间服务已完成。甲乙双方应于签订《买卖合同》当日向丙方支付本合同约定的居间服务费。</li>
    	<li class="str_tit">第四条  权利义务</li>
		<li>1、丙方应为甲乙双方提供订立买卖合同的信息和机会；丙方有权接受甲方售房委托；丙方有权接受乙方委托购房房屋，并带看房屋；协助甲乙双方订立买卖交易合同。</li>
		<li>2、丙方在提供居间服务过程中如实向乙方陈述其从甲方处所获知的关于交易房屋的相关信息，不得有故意隐瞒和误导。但基于丙方为民事主体，对于交易房屋及交易对象的资质情况，丙方只能进行形式审查，仅根据从业经验进行判断与预测，并不对交易房屋及交易对象资质的真实性承担任何责任。有关交易房屋的实际情况，以房屋登记主管机关作出的书面文件为准，甲乙双方需按照丙方的要求进行相关查验；有关交易对象的资质及资信能力，有赖于甲乙双方自行判断，丙方不对交易任何一方的资信及资质承担任何责任。</li>
		<li>3、甲乙双方有如实向丙方及交易办理机关提供房屋交易资料的义务，丙方有审查双方提供资料的义务，但丙方该审查义务仅限于形式审查，提供资料方应对资料的真实及有效性负责，丙方不对该等资料的真实及有效性承担任何责任。</li>
		<li>4、甲乙双方共同授权丙方办理房源核验、购房资质核验、网签及注销手续、资金监管、资金存管、物业交验等手续；甲乙双方在履约过程中对授权事项提出中止或终止，需向丙方出具书面告知书，且因此导致丙方不能履行授权事项，丙方不承担任何责任。</li>
		<li>5、甲乙双方认可网签合同价格以《买卖合同》成交价为准，甲乙双方另有约定的，需签署书面补充协议，并自行承担相关法律责任。 </li>
		<li class="str_tit">第五条  违约责任</li>
		<li>1、甲乙双方利用丙方所提供信息、条件、机会等，私自或者另行通过其他居间方签署《买卖合同》，甲乙双方除应向丙方支付本合同约定的全部居间服务费之外，还应当分别向丙方承担居间服务费20%的违约责任。</li>
		<li>2、 甲乙双方或一方延迟向丙方支付本合同约定的居间服务费，该延迟方除应向丙方支付居间服务费外， 每逾期一日按未付款的1%的标准向丙方支付迟延违约金；延迟超过5个工作日的，丙方有权暂停办理该房屋买卖合同约定的后续协助事项，并不承担因此导致的任何责任，上述责任及交易中已经发生的费用由延迟向丙方支付费用的一方承担。</li>
		<li>3、甲、乙任何一方违反本合同第四条或《买卖合同》的约定，导致丙方不能继续协助其办理买卖交易后续事项的，丙方不承担责任，且丙方有权收取本合同约定的居间服务费用和交易中已经发生的费用。如已交付的，丙方无须退还，如支付居间服务费方为守约方，支付方可向违约方追偿该笔费用。如未交付的，丙方有权通过包括但不限于法律途径催促支付义务方支付居间服务费。</li>
		<li class="str_tit">第六条  争议解决</li>
		<li>与本合同相关的任何争议，三方应协商解决；协商不成的，任何一方均可向房屋所在地的人民法院提起诉讼解决。</li>
		<li class="str_tit">第七条  其他</li>
		<li>1、本协议书一式三份，三方各执一份，自各方签字（盖章）之日起生效，如丙方未盖章对丙方不生效，但并不影响本合同中关于甲乙双方权利义务约定的效力。</li>
		<li>2、除本合同另有约定或三方协商一致外，各方不得擅自单方解除或变更本协议。</li>
		<li>3、三方同意，任何口头承诺、未经本人签字或加盖公章的任何书面承诺及合同条款的变更等行为均不产生法律约束力。</li>
    </ul>
     <ul class="seal_ath">
	     <li>甲方（签章）：_________________</li>
	     <li>代理人（签章）：_________________</li>
	     <li>证件名称及编号：   _________________</li>
	     <li>_______年_____月_____日</li>
    </ul>
    <ul class="seal_ath">
	     <li>乙方（签章）：_________________</li>
	     <li>代理人（签章）：_________________</li>
	     <li>证件名称及编号：   _________________</li>
	     <li>_______年_____月_____日</li>
    </ul>
     <ul class="seal_ath">
	     <li>丙方：北京我爱我家房地产经纪有限公司</li>
	     <li>丙方经纪人_________________ 经纪人注册号：_________________</li>
	     <li>丙方经纪人_________________ 经纪人注册号：_________________</li>
	     <li>_______年_____月_____日</li>
    </ul>
</div>

</div>