<div class="ibox">
	<div class="ibox-title">
		<h5>合同非打印项</h5>
	</div>
	<div class="ibox-content">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">成交店所属大区:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="dealAreaId"
							name='dealAreaId' autocomplete="off" readonly>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">成交店所属组团:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="dealGroupId"
							name='dealGroupId' autocomplete="off" readonly>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">成交店所属店面:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="dealShopId"
							name='dealShopId' autocomplete="off" readonly>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">大区助理：</label>
					<div class="col-sm-8">
						<div class="input-group">
							<input type="text" name="" class="form-control"
								id="areaContractor" autocomplete="off">
							<div class="input-group-btn">
								<button type="button" class="btn btn-white dropdown-toggle"
									data-toggle="">
									<span class="glyphicon glyphicon-search search-caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" role="menu"
									style="padding-top: 0px; max-height: 116px; max-width: 800px; overflow: auto; width: auto; transition: 0.3s;"></ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">店经理：</label>
					<div class="col-sm-8">
						<div class="input-group">
							<input type="text" name="" class="form-control"
								id="storeManager" autocomplete="off">
							<div class="input-group-btn">
								<button type="button" class="btn btn-white dropdown-toggle"
									data-toggle="">
									<span class="glyphicon glyphicon-search search-caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" role="menu"
									style="padding-top: 0px; max-height: 116px; max-width: 800px; overflow: auto; width: auto; transition: 0.3s;"></ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">店面助理：</label>
					<div class="col-sm-8">
						<div class="input-group">
							<input type="text" name="" class="form-control"
								id="storeContractor" autocomplete="off">
							<div class="input-group-btn">
								<button type="button" class="btn btn-white dropdown-toggle"
									data-toggle="">
									<span class="glyphicon glyphicon-search search-caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" role="menu"
									style="padding-top: 0px; max-height: 116px; max-width: 800px; overflow: auto; width: auto; transition: 0.3s;"></ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label"><span class="text-danger">*</span>是否连环单：</label>
					<div id="continuousOrder" class="col-sm-8">
		                <div class="radio radio-primary radio-inline">
		                    <input type="radio" id="continuousOrder2" name="continuousOrder"
		                           ng-model="$ctrl.continuous_order" required ng-value="0">
		                    <label for="continuousOrder2">否</label>
		                </div>
		                <div class="radio radio-primary radio-inline">
		                    <input type="radio" id="continuousOrder" name="continuousOrder"
		                           ng-model="$ctrl.continuous_order" required ng-value="1">
		                    <label for="continuousOrder1">是</label>
		                </div>
					</div>
				</div>
			</div>
			<div class="col-md-4" ng-if="$ctrl.continuous_order==1">
				<div class="form-group">
					<label class="col-sm-4 control-label"><span class="text-danger">*</span>连环单合同号:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="continuousOrderNum"
							name='continuousOrderNum' autocomplete="off">
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">是否转按揭：</label>
					<div id="mortgage" class="col-sm-7"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label"><span class="text-danger">*</span>抵押还款人：</label>
					<div class="col-sm-8">
						<select name="mortgagePayments" id="mortgagePayments"
							class="form-control " data-placeholder="请选择">
							<option value="">请选择</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-4 paymentsMemo" style="display: none">
				<div class="form-group">
					<label class="col-sm-4 control-label"><span class="text-danger">*</span>抵押还款人描述:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="mortgagePaymentsMemo"
							name='mortgagePaymentsMemo' autocomplete="off">
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">综合地价款：</label>
					<div class="col-sm-8">
						<select name="integratedPayment" id="integratedPayment" class="form-control " data-placeholder="请选择">
							<option value="">请选择</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">增值税：</label>
					<div id="valueAddedTax" class="col-sm-7"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">个税：</label>
					<div id="incomeTax" class="col-sm-7">
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label"><span class="text-danger">*</span>购房资质：</label>
					<div class="col-sm-8">
						<!-- <select name="buyHouseQualification" id="buyHouseQualificationbuyHouseQualificationbuyHouseQualification" class="form-control" 
						data-placeholder="请选择">
						</select> -->
						<select class="form-control" data-placeholder="请选择"
		                       ng-model="$ctrl.buyhouse_qualification" chosen required
		                       ng-options="item.valueCode as item.valueName for item in $ctrl.buyHouseQualification"
		                       id="buyHouseQualification" name="buyHouseQualification">
		                   <option value="">请选择</option>
		               </select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" ng-if="$ctrl.buyhouse_qualification==7">
				<div class="form-group">
					<label class="col-sm-4 control-label"><span class="text-danger">*</span>购房资质描述:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="qualificationMemo" id="qualificationMemo" autocomplete="off">
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">售房原因:</label>
					<div class="col-sm-8">
						<select name="sellersHouseReason" id='sellersHouseReason'
							class="form-control " data-placeholder="请选择">
							<option value="">请选择</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">买房原因:</label>
					<div class="col-sm-8">
						<select name="buyHouseReason" id='buyHouseReason'
							class="form-control " data-placeholder="请选择">
							<option value="">请选择</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
		<!-- 	<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">签约日期:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="signingDate"
							name='signingDate' autocomplete="off">
					</div>
				</div>
			</div>
			 -->
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">金融风险师：</label>
					<div class="col-sm-8">
						<div class="input-group">
							<input type="text" name="financialRisk" class="form-control"
								id="financialRisk" autocomplete="off">
							<div class="input-group-btn">
								<button type="button" class="btn btn-white dropdown-toggle"
									data-toggle="">
									<span class="glyphicon glyphicon-search search-caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" role="menu"
									style="padding-top: 0px; max-height: 116px; max-width: 800px; overflow: auto; width: auto; transition: 0.3s;"></ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">跟单人：</label>
					<div class="col-sm-8">
						<input type="text" name="" class="form-control"
								id="trackingPeople" autocomplete="off"  readonly>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">跟单人所属大区:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="spoorerAreaId" name="spoorerAreaId" autocomplete="off" readonly>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">跟单人所属组团:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="spoorerGroupId" name="spoorerGroupId" autocomplete="off" readonly>
					</div>
				</div>
			</div>
		
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">跟单人所属店:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="spoorerId" name="spoorerId" autocomplete="off" readonly>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-4 control-label">原合同编号:</label>
					<div class="col-sm-8" id="originalContract_btn">
						<div class="input-group">
							<input type="text" name="originalContractCode" class="form-control" id="originalContractCode" autocomplete="off" readonly>
							<div class="input-group-btn">
								<button type="button" class="btn btn-white dropdown-toggle" data-toggle="">
									<span class="glyphicon glyphicon-search search-caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" role="menu" style="padding-top: 0px; max-height: 116px; max-width: 800px; overflow: auto; width: auto; transition: 0.3s;"></ul>
							</div>
						</div>
						<!-- <input type="text" class="form-control" id="spoorerGroupId" name="spoorerGroupId" autocomplete="off" readonly> -->
					</div>
				</div>
			</div>
			<div class="col-md-4" >
				<div class="form-group">
					<label class="col-sm-4 control-label">业主代理人代收定金及房款:</label>
					<div id="collectingDeposit" class="col-sm-7">
					</div>
				</div>
			</div>
			<div class="col-md-4" >
				<div class="form-group">
					<label class="col-sm-4 control-label">委托公证书:</label>
					<div id="entrustNotarialDeed" class="col-sm-7">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" >
				<div class="form-group">
					<label class="col-sm-3 control-label">委托公证书是否注明委托人代收定金或房款：</label>
					<div id="principalCollectiongDeposit" class="col-sm-7">
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 text-cen">
				<div class="form-group">
					<button id="J_add" type="button" class="btn btn-success pr5 J_next">完成</button>
				</div>
			</div>
		</div>
	</div>
</div>
