#set($plugins = ["table","chosen","laydate","validator"])
<style>
.phone-show{
    padding-right: 30px;
    float: left;
    width: 100%;
    position: relative;
    word-wrap: break-word;
    word-break: break-all;    
}
.add-p{
    position: absolute;
    right: 0;
    text-align: center;
    display: inline;
}
</style>
<div ng-controller="proxyAddCtrl as $ctrl" ng-cloak>
<div class="ibox float-e-margins">
	<div class="row">
		<div class="tabs-container">
			<ul class="nav nav-tabs" id="lease-add"
				style="background-color: #EBEBEB">
				<li class="active"><a class="taba" data-toggle="tab"
					href="#tab-1">委托书信息</a></li>
				<li class=""><a class="taba">产权信息</a></li>
				<li class=""><a class="taba">其他信息</a></li>
			</ul>
			<div class="tab-content">
				<div id="tab-1" class="tab-pane active">
					<div class="panel-body">
					<div class="ibox-content">
						<form id="form1" name="form1" class="form-horizontal" role="form">
							<!-- <div class="col-md-12">
							<h4 class="business-title">选择楼盘信息</h4>
						</div> -->
							<div class="row">
								<div class="pl10 font-bold font-blue info-tit">编号信息</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="col-sm-4 control-label"><span
											class="text-danger">*</span>委托书编号: </label>
										<div class="col-sm-7">
											<input type="text" class="form-control" name="proxyCode" id="proxyCode"
													ng-model="$ctrl.res.proxyCode" maxlength="50">
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="col-sm-4 control-label">备案编号:</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" name="recordCode" id="recordCode"
													ng-model="$ctrl.res.recordCode" maxlength="50">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="pl10 font-bold font-blue info-tit">房屋信息</div>
							</div>
							<div class="row">
								<div class="col-md-4" ng-if="$ctrl.type==1">
									<div class="form-group">
										<label class="col-sm-4 control-label"><span
											class="text-danger">*</span>意向出租价格: </label>
										<div class="col-sm-6">
											<input type="text" class="form-control" name="price" id="price" ng-model="$ctrl.res.price"  maxlength="6" ng-if="$ctrl.plannedUses==4 || $ctrl.plannedUses==3">
											<input type="text" class="form-control" name="price" id="price" ng-model="$ctrl.res.price"  maxlength="6" ng-if="$ctrl.plannedUses==1 || $ctrl.plannedUses==2 || $ctrl.plannedUses==5|| $ctrl.plannedUses==6|| $ctrl.plannedUses==7|| $ctrl.plannedUses==8 || $ctrl.plannedUses==0">
										</div>
										<div class="col-sm-2">
											<label class="control-label" ng-if="$ctrl.plannedUses==1 || $ctrl.plannedUses==2 || $ctrl.plannedUses==5|| $ctrl.plannedUses==6|| $ctrl.plannedUses==7|| $ctrl.plannedUses==8|| $ctrl.plannedUses==0">元/月</label>
											<label class="control-label" ng-if="$ctrl.plannedUses==4 || $ctrl.plannedUses==3">元/平方米/天</label>
										</div>
									</div>
								</div>
								<div class="col-md-4" ng-if="$ctrl.type==2">
									<div class="form-group">
										<label class="col-sm-4 control-label"><span
											class="text-danger">*</span>意向出售价格: </label>
										<div class="col-sm-6">
											<input type="text" class="form-control" name="price" id="price"
													ng-model="$ctrl.res.price" maxlength="6">
										</div>
										<div class="col-sm-2">
											<label class="control-label">万元</label>
										</div>
									</div>
								</div>
								<div class="col-md-8">
									<div class="form-group">
										<label class="col-sm-2 control-label"><span
											class="text-danger">*</span>户型:</label>
										<div class="col-sm-10">
											<div class="col-sm-2">
												<div class="col-xs-8">
													<select id="bedroom" name="bedroom"
														class="J_chosen form-control layout" chosen data-placeholder="请选择">
														<!-- <option value="">请选择</option> -->
													</select>
												</div>
												<div class="col-xs-4">
													<label class="control-label">室</label>
												</div>
											</div>
											<div class="col-sm-2">
												<div class="col-xs-8">
													<select id="livingroom" name="livingroom"
														class="J_chosen form-control layout" chosen data-placeholder="请选择">
														<!-- <option value="">请选择</option> -->
													</select>
												</div>
												<div class="col-xs-4">
													<label class="control-label">厅</label>
												</div>
											</div>
											<div class="col-sm-2">
												<div class="col-xs-8">
													<select id="kitchen" name="kitchen"
														class="J_chosen form-control layout" chosen data-placeholder="请选择">
														<!-- <option value="">请选择</option> -->
													</select>
												</div>
												<div class="col-xs-4">
													<label class="control-label">厨</label>
												</div>
											</div>
											
											<div class="col-sm-2">
												<div class="col-xs-8">
													<select id="toilet" name="toilet"
														class="J_chosen form-control layout" chosen data-placeholder="请选择">
														<!-- <option value="">请选择</option> -->
													</select>
												</div>
												<div class="col-xs-2">
													<label class="control-label">卫</label>
												</div>
											</div>
											
											<div class="col-sm-2">
												<div class="col-xs-8">
													<select id="balcony" name="balcony"
														class="J_chosen form-control layout" chosen data-placeholder="请选择">
														<!-- <option value="">请选择</option> -->
													</select>
												</div>
												<div class="col-xs-2">
													<label class="control-label">阳</label>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="pl10 font-bold font-blue info-tit">委托人信息</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="col-sm-4 control-label"><span
												class="text-danger">*</span>共有情况:</label>
										<div class="col-sm-7">
											<select class="form-control" chosen
		                                         ng-model="$ctrl.res.shareType" required ng-change="$ctrl.houseSharefn()"
		                                         ng-options="item.valueCode as item.valueName for item in $ctrl.houseShare" name="houseShare" id="houseShare">
							                	<option value="">请选择</option>
							                </select>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="col-sm-4 control-label"><span
												class="text-danger">*</span>共有人数:</label>
										<div class="col-sm-7">
											<input type="text" class="form-control" name="shareNum" id="shareNum"
													ng-model="$ctrl.res.shareNum" readonly ng-if="$ctrl.res.shareType==1">
											<input type="text" class="form-control" name="shareNum" id="shareNum"
											ng-model="$ctrl.res.shareNum" maxlength=1 ng-if="$ctrl.res.shareType!=1" ng-blur="$ctrl.shareNumfn()">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="table-list">
										<div class="fixed-table-container">
											<table id="dataTablePeople"
												class="table table-hover  table-striped"
												style="border-bottom: none">
												<thead>
													<tr>
														<th class="col-md-2">序号</th>
														<th class="col-md-2">委托人姓名</th>
														<th class="col-md-2">是否有代理人</th>
														<th class="col-md-2">代理人姓名</th>														
														<th class="col-md-2">附件</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="item in $ctrl.res.houseProxyMandatorList">
														<td>{{$index+1}}</td>
														<td>
															<div class="col-sm-10 col-sm-offset-1">
															<div class="form-group">
																<input type="text" class=" offset-md-1 form-control"  maxlength="50" name="mandatorName" id="mandatorName" ng-model="item.mandatorName">
															</div>
															</div>
														</td>
														<td>
															<div class="col-sm-10 col-sm-offset-1">
															<div class="form-group">
																<select id="hasProxy" name="hasProxy" ng-model="item.hasProxy" ng-options="item.valueCode as item.valueName for item in $ctrl.yesOrNo" 
																	class="form-control"  chosen data-placeholder="请选择">
																	<!-- <option value="">请选择</option> -->
																</select>
															</div>
															</div>
														</td>
														<td>
															<div class="col-sm-10 col-sm-offset-1" ng-if="item.hasProxy==1">
																<div class="form-group">
																<input type="text" class=" offset-md-1 form-control"  maxlength="50" name="proxyName" id="proxyName" ng-model="item.proxyName">
																</div>
															</div>
														</td>
														<td>
															<div ng-if="item.hasProxy==1">
																<a ng-click="$ctrl.addPicter(item ,$index, 1)" ng-if="item.proxyOwnerList.length==0">上传代理人身份证</a>
																<a ng-click="$ctrl.addPicter(item ,$index, 3)" ng-if="item.proxyOwnerBookList.length==0">上传代理人授权委托书</a>
																<a ng-click="$ctrl.editPicter(item ,$index, 1)" ng-if="item.proxyOwnerList.length!=0">修改代理人身份证{{item.proxyOwnerList.length}}</a>
																<a ng-click="$ctrl.editPicter(item ,$index, 3)" ng-if="item.proxyOwnerBookList.length!=0">修改代理人授权委托书{{item.proxyOwnerBookList.length}}</a>
															</div>
														</td>
													</tr>																							
												</tbody>
											</table>
										</div>
									</div>
							</div>
							<div class="row">
								<div class="pl10 font-bold font-blue info-tit"><span
											class="text-danger">*</span>委托书图片信息</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="input-group file-caption-main">
				                        <div class="input-group-btn">
				                            <div class="btn btn-primary btn-file">
				                                <span class="hidden-xs">选择上传图片</span>
				                                <input type="file" accept="image/jpg, image/jpeg, image/png, image/tif, image/tiff, image/bmp, image/gif" multiple="" id="proxyBookList">
				                            </div>
				                            
				                        </div>
				                    </div>
			                    </div>
							</div>
							<div class="row">
								<div class="col-xs-2" ng-repeat="enclosure in $ctrl.res.proxyBookList">
					                <div class="thumbnail" style="height:200px;">
					                    <img ng-src="{{enclosure.path}}" style="height: 150px;margin-bottom:10px;">
					                    
					                    <div class="col-sm-9">
						                    <select id="photoType" name="photoType" chosen class="form-control layout" ng-model="enclosure.type" data-placeholder="请选择">
												<option value="">请选择</option>
												<option value="4">委托书</option>
												
											</select>
										</div>
										<div class="col-sm-3">
											<button type="button" style="margin-top:1px;"  class="btn btn-outline btn-success btn-xs mt-3 pd5" ng-click="$ctrl.removeFile($index,$ctrl.res.proxyBookList)">删除</button>
										</div>
										
					                    <!-- <h4 class="text-nowrap text-overflow" title="{{enclosure.filename|| enclosure.path}}">
					                        {{enclosure.filename || enclosure.path}}
					                    </h4>
					                    <div class="text-center">
					                        <a href="#" class="btn btn-success btn-xs" role="button" ng-click="$ctrl.removeFile($index)">删除</a>
					                    </div> -->
					                </div>
					            </div>
							</div>
							<div class="row">
								<div class="col-md-12 text-cen" style="margin-bottom:200px;margin-top:40px;">
									<div class="form-group">
										<button type="button" class="btn btn-success pr5 J_next" ng-click="$ctrl.next(1)">下一步</button>
									</div>
								</div>
							</div>
						</form>
						</div>
					</div>
				</div>
				<div id="tab-2" class="tab-pane">
					<div class="panel-body">
					<div class="ibox-content">
						<form id="form2" name="form2" class="form-horizontal" role="form">
							<div class="row">
								<div class="pl10 font-bold font-blue info-tit">房屋信息</div>
							</div>
							<div class="normal">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-2 control-label"><span
											class="text-danger">*</span>房屋证载地址:</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="houseAddress" id="houseAddress"
													ng-model="$ctrl.res.houseAddress" maxlength="100">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-2 control-label"><span
											class="text-danger">*</span>层数:</label>
											<div class="col-sm-10" layout="row" layout-wrap>
												<label flex="5" class="control-label">第：</label>
												<div flex="40">
												<input type="text" class="form-control" name="floor" id="floor"
														ng-model="$ctrl.res.floor" maxlength="3">
												</div>
												<label flex="5" class="control-label">层</label>
												<label flex="5" class="control-label">共：</label>
												<div flex="40">
												<input type="text" class="form-control" name="allFloor" id="allFloor"
														ng-model="$ctrl.res.allFloor" maxlength="3">
												</div>
												<label flex="5" class="control-label">层</label>
											</div>
										</div>
									</div>
								</div>	
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-2 control-label"><span
											class="text-danger">*</span>房屋间数:</label>
											<div class="col-sm-10" layout="row" layout-wrap>
												<div flex="50">
													<input type="text" class="form-control" name="roomNum" id="roomNum"
														ng-model="$ctrl.res.roomNum">
												</div>
												<div  flex="5" class="control-label">间</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-2 control-label"><span
											class="text-danger">*</span>房屋面积:</label>
											<div class="col-sm-10" layout="row" layout-wrap>
												<div flex="50">
													<input type="text" class="form-control" name="houseArea" id="houseArea"
														ng-model="$ctrl.res.houseArea">
													
												</div>
												<div flex="5" class="control-label">平方米</div>
											</div>
										</div>
									</div>
								</div>	
							<div class="row">
								<div class="pl10 font-bold font-blue info-tit">产权人信息</div>
							</div>

							<div class="row">
								<div class="bootstrap-table table-list">
										<div class="fixed-table-container">
											<table id="dataTablePeople"
												class="table table-hover  table-striped"
												style="border-bottom: none">
												<thead>
													<tr>
														<th class="col-md-2">序号</th>
														<th class="col-md-2">产权人姓名</th>
														<th class="col-md-2">房产证件号</th>														
														<th class="col-md-2">附件</th>
													</tr>
												</thead>
												<tbody>	
													<tr ng-repeat="item in $ctrl.res.houseProxyMandatorList">
														<td>{{$index+1}}</td>
														<td>
															<div class="col-sm-10 col-sm-offset-1">
															<div class="form-group">
																<input type="text" class=" offset-md-1 form-control"  maxlength="50" name="mandatorName" id="mandatorName" ng-model="item.mandatorName" readonly>
															</div>
															</div>
														</td>
														<td>
															<div class="col-sm-10 col-sm-offset-1">
															<div class="form-group">
																<input type="text" class=" offset-md-1 form-control"  maxlength="50" name="certNum" id="certNum" ng-model="item.certNum">
															</div>
															</div>
														</td>
														<td>
															<a ng-click="$ctrl.addPicter(item , $index ,2)" ng-if="item.propertyOwnerList.length==0||!item.propertyOwnerList">上传产权人身份证</a>
															<a ng-click="$ctrl.editPicter(item , $index ,2)" ng-if="item.propertyOwnerList.length>0">修改产权人身份证{{item.propertyOwnerList.length}}</a>
														</td>
													</tr>																							
												</tbody>
											</table>
										</div>
									</div>
							</div>
							<div class="row">
								<div class="pl10 font-bold font-blue info-tit"><span
											class="text-danger">*</span>产权证书图片信息</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="input-group file-caption-main">
				                        <div class="input-group-btn">
				                            <div class="btn btn-primary btn-file">
				                                <span class="hidden-xs">选择上传图片</span>
				                                <input type="file" accept="image/jpg, image/jpeg, image/png, image/tif, image/tiff, image/bmp, image/gif" multiple="" id="propertyBookList">
				                            </div>
				                            
				                        </div>
				                    </div>
			                    </div>
							</div>
							<div class="row">
								<div class="col-xs-2" ng-repeat="enclosure in $ctrl.res.propertyBookList">
					                <div class="thumbnail" style="height:200px;">
					                    <img ng-src="{{enclosure.path}}" style="height: 150px;margin-bottom:10px;">
					                    
					                    <div class="col-sm-9"> 
						                    <select id="photoType" name="photoType" chosen class="form-control layout" ng-model="enclosure.type" data-placeholder="请选择">
												<option value="">请选择</option>
												<option value="5">产权证书</option>
												
											</select>
										</div>
										<div class="col-sm-3">
											<button type="button" style="margin-top:1px;"  class="btn btn-outline btn-success btn-xs mt-3 pd5" ng-click="$ctrl.removeFile($index,$ctrl.res.propertyBookList)">删除</button>
										</div>
										
					                    <!-- <h4 class="text-nowrap text-overflow" title="{{enclosure.filename|| enclosure.path}}">
					                        {{enclosure.filename || enclosure.path}}
					                    </h4>
					                    <div class="text-center">
					                        <a href="#" class="btn btn-success btn-xs" role="button" ng-click="$ctrl.removeFile($index)">删除</a>
					                    </div> -->
					                </div>
					            </div>
							</div>
							
							
							<div class="row">
								<div class="col-md-12 text-cen" style="margin-bottom:200px;margin-top:40px;">
									<div class="form-group">
										<button type="button" class="btn btn-success pr5 J_next" ng-click="$ctrl.next(2)">下一步</button>
									</div>
								</div>
							</div>				
							</div>						
						</form>
						</div>
					</div>
				</div>
				<div id="tab-3" class="tab-pane">
					<div class="panel-body">
					<div class="ibox-content">
						<form id="form3" name="form3" class="form-horizontal" role="form">
							<div class="row">
								<div class="pl10 font-bold font-blue info-tit"><span
											class="text-danger">*</span>书面告知书图片信息</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="input-group file-caption-main">
				                        <div class="input-group-btn">
				                            <div class="btn btn-primary btn-file">
				                                <span class="hidden-xs">选择上传图片</span>
				                                <input type="file" accept="image/jpg, image/jpeg, image/png, image/tif, image/tiff, image/bmp, image/gif" multiple="" id="bookNoticeList">
				                            </div>
				                            
				                        </div>
				                    </div>
			                    </div>
							</div>
							<div class="row">
								<div class="col-xs-2" ng-repeat="enclosure in $ctrl.res.bookNoticeList">
					                <div class="thumbnail" style="height:200px;">
					                    <img ng-src="{{enclosure.path}}" style="height: 150px;margin-bottom:10px;">
					                    
					                    <div class="col-sm-9"> 
						                    <select id="photoType" name="photoType" chosen class="form-control layout" ng-model="enclosure.type" data-placeholder="请选择">
												<option value="">请选择</option>
												<option value="6">书面告知书</option>
												
											</select>
										</div>
										<div class="col-sm-3">
											<button type="button" style="margin-top:1px;"  class="btn btn-outline btn-success btn-xs mt-3 pd5" ng-click="$ctrl.removeFile($index,$ctrl.res.bookNoticeList)">删除</button>
										</div>
					                </div>
					            </div>
							</div>
							<div class="row">
								<div class="pl10 font-bold font-blue info-tit"><span
											class="text-danger">*</span>房屋状况说明书图片信息</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="input-group file-caption-main">
				                        <div class="input-group-btn">
				                            <div class="btn btn-primary btn-file">
				                                <span class="hidden-xs">选择上传图片</span>
				                                <input type="file" accept="image/jpg, image/jpeg, image/png, image/tif, image/tiff, image/bmp, image/gif" multiple="" id="houseStatusList">
				                            </div>
				                            
				                        </div>
				                    </div>
			                    </div>
							</div>
							<div class="row">
								<div class="col-xs-2" ng-repeat="enclosure in $ctrl.res.houseStatusList">
					                <div class="thumbnail" style="height:200px;">
					                    <img ng-src="{{enclosure.path}}" style="height: 150px;margin-bottom:10px;">
					                    
					                    <div class="col-sm-9"> 
						                    <select id="photoType" name="photoType" chosen class="form-control layout" ng-model="enclosure.type" data-placeholder="请选择">
												<option value="">请选择</option>
												<option value="7">房屋状况说明书</option>
												
											</select>
										</div>
										<div class="col-sm-3">
											<button type="button" style="margin-top:1px;" class="btn btn-outline btn-success btn-xs mt-3 pd5" ng-click="$ctrl.removeFile($index,$ctrl.res.houseStatusList)">删除</button>
										</div>
					                </div>
					            </div>
							</div>
							<div class="row">
								<div class="pl10 font-bold font-blue info-tit">其他资料图片信息</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="input-group file-caption-main">
				                        <div class="input-group-btn">
				                            <div class="btn btn-primary btn-file">
				                                <span class="hidden-xs">选择上传图片</span>
				                                <input type="file" accept="image/jpg, image/jpeg, image/png, image/tif, image/tiff, image/bmp, image/gif" multiple="" id="otherList">
				                            </div>
				                            
				                        </div>
				                    </div>
			                    </div>
							</div>
							<div class="row">
								<div class="col-xs-2" ng-repeat="enclosure in $ctrl.res.otherList">
					                <div class="thumbnail" style="height:200px;">
					                    <img ng-src="{{enclosure.path}}" style="height: 150px;margin-bottom:10px;">
					                    
					                    <div class="col-sm-9"> 
						                    <select id="photoType" name="photoType" chosen class="form-control layout" ng-model="enclosure.type" data-placeholder="请选择">
												<option value="">请选择</option>
												<option value="8">其他资料</option>
												
											</select>
										</div>
										<div class="col-sm-3">
											<button type="button" style="margin-top:1px;"  class="btn btn-outline btn-success btn-xs mt-3 pd5" ng-click="$ctrl.removeFile($index,$ctrl.res.otherList)">删除</button>
										</div>
					                </div>
					            </div>
							</div>
							<div class="row">
								<div class="col-md-12 text-cen" style="margin-bottom:200px;margin-top:40px;">
									<div class="form-group">
										<button type="button" class="btn btn-success pr5 J_next" ng-click="$ctrl.next(3)">保存</button>
									</div>
								</div>
							</div>	
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<!--star委托书录入-->
	<div class="ibox-content" id="backResults" style="display:none">
		<form class="form-horizontal">
			<div class="form-group center-block" style="position:relative;text-align:center; padding:10px 0;"id="upLoadLile">
				<button id="selectFile" type="button" class="btn btn-success pr5">选择上传图片</button>
				<div id="fileHidden" style="position:absolute;visibility:hidden;">
					<input type="file" accept="image/jpg, image/jpeg, image/png, image/tif, image/tiff, image/bmp, image/gif" id="upFile" />
				</div>
			</div>
			<div class="row upFileName" id="enterUpFileName"></div>
			<div style="padding-top:10px;">
				<h4>上传图片规格</h4>
				<p>1、建议上传图片尺寸为3508×2480px</p>
				<p>2、图片最大不超过5M</p>
				<p>3、图片格式为jpg、jpeg、png、tif、tiff、bmp、gif</p>
			</div>
		</form>
	</div>
<!--end委托书录入-->
<!-- js插件 -->
<script src="$link.contextPath/resources/script/sign/sign-common.module.js"></script>
<script type="text/javascript"
		src="$link.contextPath/resources/script/house/proxy/proxy_add.module.js?v=1"></script>
<!-- <script
src="$link.contextPath/resources/script/house/main/validate.js"></script> -->
</div>